body .main-container {
  width: 980px;
  margin: 0 auto;
}

.page-header {
  margin-top: 0 !important;

  .header-left {
    display: inline-block;
  }

  .header-right {
    display: inline-block;
    margin-top: 10px;
  }
}

.table {
  .actions {
    text-align: right;
  }
}

body.signup, body.signin {
  padding-top: 100px;

  .signup-form, .signin-form {
    margin: 0 auto;
    width: 500px;

    .signup-link, .signin-link {
      text-align: center;
      border-top: 1px solid #EEEEEE;
    }
  }
}
